<header>
  <h1>
    <a class="header-name" href="/">
      <span class="first-name">Kevin</span>
      <span class="last-name">Sołtysiak</span>
    </a>
  </h1>

  <section class="header-menu">
    {% if page.url == "/about/index.html" %}
      <a class="current" href="/about" />About</a>
    {% else %}
      <a href="/about" />About</a>
    {% endif %}

    {% if page.url == "/posts/index.html" %}
      <a class="current" href="/posts" />Posts</a>
    {% else %}
      <a href="/posts" />Posts</a>
    {% endif %}
  </section>
  <section class="header-links">
    <a title="GitHub: ksol" href="https://github.com/ksol"><i class="icon-github"></i></a>
    <a title="Twitter: @ksol" href="https://twitter.com/ksol"><i class="icon-twitter"></i></a>
    <a title="Linkedin profile" href="http://www.linkedin.com/in/ksoltysiak"><i class="icon-linkedin"></i></a>
    <a title="StackOverflow: ksol" href="http://stackoverflow.com/users/669020/ksol"><i class="icon-envelope"></i></a>
    <a title="StackOverflow: ksol" href="http://stackoverflow.com/users/669020/ksol"><i class="icon-stackexchange"></i></a>

  </section>
  <hr class="header-menu-bottom" />
</header>
