<!-- Page Content -->
<div class="content-section-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 page-header text-center">
        <h2>Je développe des applications web sur mesure.</h2>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <p class="project-content">
          Avec plusieurs années d'expérience dans le développment de sites et d'applications web et mobiles pour divers clients,
          je <strong>VOUS</strong> accompagne dans vos projets de la conception au lancement et au-dela
          avec un accent mis sur la qualité et la maintenabilité.
        </p>

        <p class="project-content">
          Je privilégie la simplicité ("il faut rendre les choses aussi simples que possible, mais pas plus") et le choix des bons outils pour régler les bons problèmes.
        </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-5">
        <p class="project-content">
          Je crois fortement en la communication et dans les intéractions:
          je ne vais pas travailler <strong><em>pour</em></strong> vous, mais <strong><em>avec</em></strong> vous. Vous êtes impliqué à chaque étape de votre projet.
        </p>

        <p class="project-content">
          La durabilité est importante à mes yeux. Votre projet sera développé sur des fondations solides, avec des outils prévus pour être utilisés et maintenus plusieurs années dans le futur.
        </p>
      </div>

      <div class="col-xs-12 text-center">
        <a href="/fr/contact" class="btn btn-primary btn-lg btn-lets-talk">
          Parlons-en
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Projets récents</h2>
      </div>

      <div class="col-xs-12 col-sm-4">
        <a href="/fr/projets/butterware">
          <img src="/img/portfolio/butterware/front.png" class="project-img">
        </a>

        <p class="project-content project-short">
          J'aide <a href="https://www.butterware.co.uk">Butterware</a> à maintenir
          leur application à jour, réduire la dette technique, et développer de
          nouvelles fonctionnalités.
        </p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <a href="/fr/projets/scalingo">
          <img src="/img/portfolio/scalingo/front.png" class="project-img">
        </a>

        <p class="project-content project-short">
          J'ai travaillé avec <a href="http://scalingo.com">Scalingo</a> afin de s'assurer que leur dashboard - réalisé avec <a href="/fr/freelancer/ember-js">Ember.js</a> - était à jour et maintenable dans la durée.
        </p>

        <blockquote>
          <p>
            Nous avons travaillé avec Kevin pour accélérer le déploiement de notre dashboard.
            Il s'est immergé avec aise dans notre base de code Ember.js existante et est devenu rapidement efficace.
            Il nous a également aidé à mettre à jour le framework au fil des versions.
            Ce fut très agréable et pratique de travailler avec lui, et nous recommandons fortement ses compétences.
          </p>
          <br><br>
          <p>
            &mdash; Léo Unbekandt, CTO @ Scalingo
          </p>
        </blockquote>

        <a href="/fr/projets/scalingo">En savoir plus</a>
        </p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <a href="/fr/projets/deliver.ee">
          <img src="/img/portfolio/deliver.ee/front.png" class="project-img">
        </a>

        <p class="project-content project-short">
          J'ai aidé <a href="http://deliver.ee">deliver.ee</a> à finir dans les temps quelques une de leurs applications - conçues avec <a href="/fr/freelancer/ember-js">Ember.js</a> et <a href="/fr/freelancer/ruby-on-rails">Ruby on Rails</a>.
        </p>

        <blockquote>
          <p>
            J'ai fait appel à Kevin pour nous aider à terminer nos produits dans les temps.
            Kevin a su s’adapter et s’intégrer rapidement, et nous a permis de progresser de manière agile et efficace.
            Grâce à sa participation, nous avons pu tenir nos délais et satisfaire nos clients, c'est très agréable de travailler avec lui !
          </p>
          <br><br>
          <p>
            &mdash; Sébastien Poudat, CTO @ deliver.ee
          </p>
        </blockquote>

        <a href="/fr/projets/deliver.ee">En savoir plus</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% for post in site.posts reversed %}
  {% if post.category == 'Services' %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

    <div class="content-section-{% if thecycle == 'odd' %}b{% else %}a{% endif %}">
      <div class="container">
        {% if post.hasTwoParts %}
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <div class="clearfix"></div>
              <h2 class="section-heading">
                {{ post.titleLeftFrench }}
              </h2>
              <p class="lead">
                {{ post.contentLeftFrench }}
              </p>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2">
              <div class="clearfix"></div>
              <h2 class="section-heading text-right">
                {{ post.titleRightFrench }}
              </h2>
              <p class="lead pull-right">
                {{ post.contentRightFrench }}
              </p>
            </div>
          </div>
        {% else %}
          <div class="row">
            {% if thecycle == 'odd' %}
              <div class="col-lg-5 col-sm-6">
            {% else %}
              <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
            {% endif %}
              <div class="clearfix"></div>
              <h2 class="section-heading">
                {% if post.linkName %}
                  <a href="/fr/freelancer/{{post.linkName}}" title="{{post.titleFrench}}">
                    {{ post.titleFrench }}
                  </a>
                {% else %}
                  {{ post.titleFrench }}
                {% endif %}
              </h2>
              <p class="lead">
                {{ post.descriptionFrench }}

                {% if post.linkName %}
                  <a href="/fr/freelancer/{{post.linkName}}" title="{{post.titleFrench}}">
                    Read more...
                  </a>
                {% endif %}
              </p>

              <a href="/fr/contact" class="btn btn-primary btn-lg">
                <i class="fa fa-envelope"></i>
                {{ post.contactTextFrench }}
              </a>
            </div>

            {% if thecycle == 'odd' %}
              <div class="col-lg-5 col-lg-offset-2 col-sm-6 hidden-xs">
            {% else %}
              <div class="col-lg-5 col-sm-pull-6 col-sm-6 hidden-xs">
            {% endif %}
              <img class="img-responsive img-service {% if thecycle == 'odd' %}img-right{% endif %}" src="/img/services/{{ post.img }}" alt="{{post.imgAltFrench}}" title="{{post.titleFrench}}">
            </div>
          </div>
        {% endif %}
      </div> <!-- /.container -->
    </div><!-- /.content-section-a -->
  {% endif %}
{% endfor %}
