<!-- Page Content -->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 text-center">
        <img src="/img/ks.jpg" class="img-circle" alt="Kevin Soltysiak's picture" title="Kevin Soltysiak">
        <hr>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-5">
        <p class="project-content">
          Avec plusieurs années d'expérience dans le développment de sites et d'applications web et mobiles pour divers clients, je <strong>VOUS</strong> accompagne afin de faire décoller vos projets.
        </p>
        <hr>
        <p class="project-content">
          Je privilégie la simplicité ("il faut rendre les choses aussi simples que possible, mais pas plus") et le choix des bons outils pour régler les bons problèmes.
        </p>
        <hr>
        <p class="project-content">
          Je crois fortement en la communication et dans les intéractions.
          Je ne vais pas travailler <strong><em>pour</em></strong> vous, mais <strong><em>avec</em></strong> vous: vous restez impliqués à chaques étapes de votre projet.
        </p>
      </div>
    </div>
  </div>
</div>

{% for post in site.posts reversed %}
  {% if post.category == 'Services' %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

    {% if thecycle == 'odd' %}
      <div class="content-section-b">
        <div class="container">
          <div class="row visible-xs-block">
            <div class="col-xs-12 text-center">
              <img class="img-service-small" src="/img/services/{{ post.img }}" alt="{{post.imgAltFrench}}" title="{{post.titleFrench}}">
              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer hidden-xs">
              <div class="clearfix"></div>
              <h2 class="section-heading">
                {% if post.linkName %}
                  <a href="/fr/freelancer/{{post.linkName}}" title="{{post.titleFrench}}">
                    {{ post.titleFrench }}
                  </a>
                {% else %}
                  {{ post.titleFrench }}
                {% endif %}
              </h2>
              <p class="lead">
                {{ post.descriptionFrench }}
              </p>
            </div>

            <div class="col-lg-5 col-lg-offset-2 col-sm-6 hidden-xs">
              <img class="img-responsive img-service img-right" src="/img/services/{{ post.img }}" alt="{{post.imgAltFrench}}" title="{{post.titleFrench}}">
            </div>
          </div>
        </div> <!-- /.container -->
      </div><!-- /.content-section-a -->
    {% else %}
      <div class="content-section-a">
        <div class="container">
          <div class="row visible-xs-block">
            <div class="col-xs-12 text-center">
              <img class="img-service-small" src="/img/services/{{ post.img }}" alt="{{post.imgAltFrench}}" title="{{post.titleFrench}}">
              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
              <hr class="section-heading-spacer hidden-xs">
              <div class="clearfix"></div>
              <h2 class="section-heading">
                {% if post.linkName %}
                  <a href="/fr/freelancer/{{post.linkName}}" title="{{post.titleFrench}}">
                    {{ post.titleFrench }}
                  </a>
                {% else %}
                  {{ post.titleFrench }}
                {% endif %}
              </h2>
              <p class="lead">
                {{ post.descriptionFrench }}
              </p>
            </div>

            <div class="col-lg-5 col-sm-pull-6  col-sm-6 hidden-xs">
              <img class="img-responsive img-service" src="/img/services/{{ post.img }}" alt="{{post.imgAltFrench}}" title="{{post.titleFrench}}">
            </div>
          </div>
        </div> <!-- /.container -->
      </div> <!-- /.content-section-b -->
    {% endif %}
  {% endif %}
{% endfor %}
