<!-- Page Content -->
<div class="content-section-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 page-header text-center">
        <h2>I build tailored web applications.</h2>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <p class="project-content">
          With several years of experience into web and mobile web development for various companies, I'm here to help <strong>YOU</strong> with your web projects from the inception phase up to last mile and beyond.
        </p>

        <p class="project-content">
          It doesn't matter if you're about to start a new project or if it's an already existing product. I can improve quality and productivity in any stage of a project.
        </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-5">
        <p class="project-content">
          I strive for simplicity ("things should be made as simple as possible, but not simpler") and for using the right tools to solve the right problems.
        </p>

        <p class="project-content">
          I strongly believe in communication and interactions.
          I will not work <strong><em>for</em></strong> you but <strong><em>with</em></strong> you: you will be involved at every step of your project.
        </p>

        <p class="project-content">
          I focus on long-term viability. I will build your project on solid foundations, with tools designed to be used and maintained many years into the future.
        </p>
      </div>

      <div class="col-xs-12 text-center">
        <a href="/contact" class="btn btn-primary btn-lg btn-lets-talk">
          Let's talk
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Recent projects</h2>
      </div>

      <div class="col-xs-12 col-sm-6">
        <a href="/projects/deliver.ee">
          <img src="/img/portfolio/deliver.ee/front.png" class="project-img">
        </a>

        <p class="project-content project-short">
          I helped <a href="http://deliver.ee">deliver.ee</a> finish on time a few of their web applications - made with <a href="/freelancer/ember-js">Ember.js</a> and <a href="/freelancer/ruby-on-rails">Ruby on Rails</a>.
        </p>

        <blockquote>
          <p>
            I hired Kevin to help us finish our products on time.
            Kevin was able to adapt and integrate quickly and allowed us to make progress in an agile and efficient way.
            With his help, we were able to meet our deadlines and satisfy our customers, it's very nice to work with him!
          </p>
          <br><br>
          <p>
            &mdash; Sébastien Poudat, CTO @ deliver.ee
          </p>
        </blockquote>

        <a href="/projects/deliver.ee">Read more about it</a>
        </p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <a href="/projects/scalingo">
          <img src="/img/portfolio/scalingo/front.png" class="project-img">
        </a>

        <p class="project-content project-short">
          I worked with <a href="http://scalingo.com">Scalingo</a> and helped them ensuring their dashboard - made with <a href="/freelancer/ember-js">Ember.js</a> - was up to date and future-proof.
        </p>

        <blockquote>
          <p>
            We've worked with Kevin to speed up the deployment of our dashboard. He dived
            in our existing Ember.js codebase with ease and became efficient really quickly.
            He also assisted us in upgrading the successive versions of the framework.
            It has been really convenient working with Kevin and we strongly recommend his skills.
          </p>
          <br><br>
          <p>
            &mdash; Léo Unbekandt, CTO @ Scalingo
          </p>
        </blockquote>

        <a href="/projects/scalingo">Read more about it</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% for post in site.posts reversed %}
  {% if post.category == 'Services' %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

    <div class="content-section-{% if thecycle == 'odd' %}b{% else %}a{% endif %}">
      <div class="container">
        {% if post.hasTwoParts %}
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <div class="clearfix"></div>
              <h2 class="section-heading">
                {{ post.titleLeft }}
              </h2>
              <p class="lead">
                {{ post.contentLeft }}
              </p>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2">
              <div class="clearfix"></div>
              <h2 class="section-heading text-right">
                {{ post.titleRight }}
              </h2>
              <p class="lead pull-right">
                {{ post.contentRight }}
              </p>
            </div>
          </div>
        {% else %}
          <div class="row">
            {% if thecycle == 'odd' %}
              <div class="col-lg-5 col-sm-6">
            {% else %}
              <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
            {% endif %}
              <div class="clearfix"></div>
              <h2 class="section-heading">
                {% if post.linkName %}
                  <a href="/freelancer/{{post.linkName}}" title="{{post.title}}">
                    {{ post.title }}
                  </a>
                {% else %}
                  {{ post.title }}
                {% endif %}
              </h2>
              <p class="lead">
                {{ post.description }}

                {% if post.linkName %}
                  <a href="/freelancer/{{post.linkName}}" title="{{post.title}}">
                    Read more...
                  </a>
                {% endif %}
              </p>

              <a href="/contact" class="btn btn-primary btn-lg">
                <i class="fa fa-envelope"></i>
                {{ post.contactText }}
              </a>
            </div>

            {% if thecycle == 'odd' %}
              <div class="col-lg-5 col-lg-offset-2 col-sm-6 hidden-xs">
            {% else %}
              <div class="col-lg-5 col-sm-pull-6 col-sm-6 hidden-xs">
            {% endif %}
              <img class="img-responsive img-service {% if thecycle == 'odd' %}img-right{% endif %}" src="/img/services/{{ post.img }}" alt="{{post.imgAlt}}" title="{{post.title}}">
            </div>
          </div>
        {% endif %}
      </div> <!-- /.container -->
    </div><!-- /.content-section-a -->
  {% endif %}
{% endfor %}
