<!-- Page Content -->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 text-center">
        <img src="/img/ks.jpg" class="img-circle" alt="Kevin Soltysiak's picture" title="Kevin Soltysiak">
        <hr>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-5">
        <p class="project-content">
          Avec plusieurs années d'expérience dans le développment de sites et d'applications web et mobiles pour divers clients, je <strong>VOUS</strong> accompagne afin de faire décoller vos projets.
        </p>
        <hr>
        <p class="project-content">
          Je privilégie la simplicité ("il faut rendre les choses aussi simples que possible, mais pas plus") et le choix des bons outils pour régler les bons problèmes.
        </p>
        <hr>
        <p class="project-content">
          Je crois fortement en la communication et dans les intéractions.
          Je ne vais pas travailler <strong><em>pour</em></strong> vous, mais <strong><em>avec</em></strong> vous: vous restez impliqués à chaques étapes de votre projet.
        </p>
      </div>

      <div class="col-xs-12 text-center">
        <a href="/fr/contact" class="btn btn-primary btn-lg btn-lets-talk">
          Parlons-en
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Projets récents</h2>
      </div>

      <div class="col-xs-12 col-sm-6">
        <a href="/fr/projets/deliver.ee">
          <img src="/img/portfolio/deliver.ee/front.png" class="project-img">
        </a>

        <p class="project-content project-short">
          J'ai aidé <a href="http://deliver.ee">deliver.ee</a> à finir dans les temps quelques une de leurs applications - conçues avec <a href="/fr/freelancer/ember-js">Ember.js</a> et <a href="/fr/freelancer/ruby-on-rails">Ruby on Rails</a>.
        </p>

        <a href="/fr/projets/deliver.ee">En savoir plus</a>
        </p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <a href="/fr/projets/scalingo">
          <img src="/img/portfolio/scalingo/front.png" class="project-img">
        </a>

        <p class="project-content project-short">
          J'ai travaillé avec <a href="http://scalingo.com">Scalingo</a> afin de s'assurer que leur dashboard - réalisé avec <a href="/fr/freelancer/ember-js">Ember.js</a> - était à jour et maintenable dans la durée.
        </p>

        <a href="/fr/projets/scalingo">En savoir plus</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% for post in site.posts reversed %}
  {% if post.category == 'Services' %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

    <div class="content-section-{% if thecycle == 'odd' %}b{% else %}a{% endif %}">
      <div class="container">
        {% if post.hasTwoParts %}
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <hr class="section-heading-spacer hidden-xs">
              <div class="clearfix"></div>
              <h2 class="section-heading">
                {{ post.titleLeftFrench }}
              </h2>
              <p class="lead">
                {{ post.contentLeftFrench }}
              </p>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2">
              <hr class="section-heading-spacer hidden-xs pull-right">
              <div class="clearfix"></div>
              <h2 class="section-heading text-right">
                {{ post.titleRightFrench }}
              </h2>
              <p class="lead pull-right">
                {{ post.contentRightFrench }}
              </p>
            </div>
          </div>
        {% else %}
          <div class="row visible-xs-block">
            <div class="col-xs-12 text-center">
              <img class="img-service-small" src="/img/services/{{ post.img }}" alt="{{post.imgAltFrench}}" title="{{post.titleFrench}}">
              <hr>
            </div>
          </div>

          <div class="row">
            {% if thecycle == 'odd' %}
              <div class="col-lg-5 col-sm-6">
            {% else %}
              <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
            {% endif %}

              <hr class="section-heading-spacer hidden-xs">
              <div class="clearfix"></div>
              <h2 class="section-heading">
                {% if post.linkName %}
                  <a href="/fr/freelancer/{{post.linkName}}" title="{{post.titleFrench}}">
                    {{ post.titleFrench }}
                  </a>
                {% else %}
                  {{ post.titleFrench }}
                {% endif %}
              </h2>
              <p class="lead">
                {{ post.descriptionFrench }}

                {% if post.linkName %}
                  <a href="/fr/freelancer/{{post.linkName}}" title="{{post.titleFrench}}">
                    Read more...
                  </a>
                {% endif %}
              </p>

              <a href="/fr/contact" title="{{post.contactTextFrench}}" class="btn btn-success btn-lg">
                <i class="fa fa-envelope"></i>
                {{ post.contactTextFrench }}
              </a>
            </div>

            {% if thecycle == 'odd' %}
              <div class="col-lg-5 col-lg-offset-2 col-sm-6 hidden-xs">
            {% else %}
              <div class="col-lg-5 col-sm-pull-6 col-sm-6 hidden-xs">
            {% endif %}
              <img class="img-responsive img-service {% if thecycle == 'odd' %}img-right{% endif %}" src="/img/services/{{ post.img }}" alt="{{post.imgAltFrench}}" title="{{post.titleFrench}}">
            </div>
          </div>
        {% endif %}
      </div> <!-- /.container -->
    </div><!-- /.content-section-a -->
  {% endif %}
{% endfor %}
