<!-- Page Content -->
<div class="content-section-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 page-header text-center">
        <h2>I build tailored web applications.</h2>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <p class="project-content">
          With several years of experience into web and mobile web development for various companies,
          I'm here to help you with your ruby projects from the inception phase up to last mile and beyond,
          with a strong emphasis on quality and maintainability.
        </p>

        <p class="project-content">
          I strive for simplicity ("things should be made as simple as possible, but not simpler")
          and for using the right tools to solve the right problems.
        </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-5">
        <p class="project-content">
          I strongly believe in communication and interactions:
          I will not work <strong><em>for</em></strong> you but <strong><em>with</em></strong> you;
          you will be involved at every step of your project.
        </p>

        <p class="project-content">
          I focus on long-term viability: I will build your project on solid foundations,
          with tools designed to be used and maintained many years into the future.
        </p>
      </div>

      <div class="col-xs-12 text-center">
        <a href="/contact" class="btn btn-primary btn-lg btn-lets-talk">
          Let's talk
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <img class="img-responsive" src="/img/services/rails-logo.png" alt="Ruby on Rails logo" title="Ruby / Rails">
          </div>
        </div>
        <br>
        <p class="lead text-justify">
          I've been working with Ruby and Rails since 2012. Whether you need help
          on a brand new project or are looking for someone to take care of your aging application, I can help!
        </p>
        <p class="lead text-justify">
          And while I'm mainly focused on the backend, I also know my way around frontend development,
          modern javascript, and a few of the frameworks that's out there.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <h3 class="section-heading">
          Prototyping
        </h3>
        <p class="lead text-justify">
          Need to explore an idea before fully committing to it?
          Have some hypothesis that requires validation?
          A prototype would be a good tool to help your decision-making process.
        </p>
        <p class="lead text-justify">
          We'll define which questions need to be answered, then come up with an adequate
          way to answer them and and move forward until you have all you need to make an informed decision.
        </p>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <h3 class="section-heading">
          Technical debt
        </h3>
        <p class="lead text-justify">
          Technology is moving <em>fast</em>, and it's easy to end up with an application
          that's outdated. This can lead to degraded performances, increased security risks,
          and decreased productivity for your team.
        </p>
        <p class="lead text-justify">
          I've made a habit of handling application updates and data migration
          so that your team can focus on the features that your end customers interact with.
        </p>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <h3 class="section-heading">
          Tooling
        </h3>
        <p class="lead text-justify">
          While easily overlooked, efficient tooling improves your team's ability to deliver
          work of quality and how often they do it.
          On top of that, automation can help keep your application up to date and safe.
        </p>
        <p class="lead text-justify">
          From custom-made command-line developer tools to setting up
          <a href="https://en.wikipedia.org/wiki/Continuous_integration">continuous integration</a>/
          <a href="https://en.wikipedia.org/wiki/Continuous_delivery">delivery</a>,
          there are many ways that I can help improve your workflow.
        </p>
      </div>

      <div class="col-xs-12 text-center">
        <a href="/contact" class="btn btn-primary btn-lg btn-lets-talk">
          Let's talk
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Recent projects</h2>
      </div>

      <div class="col-xs-12 col-sm-4">
        <a href="/projects/butterware">
          <img src="/img/portfolio/butterware/front.png" class="project-img">
        </a>

        <p class="project-content project-short">
          I'm working with <a href="https://www.butterware.co.uk">Butterware</a> to help them
          maintain their application, reduce their technical debt, and integrate
          new features.
        </p>

        <blockquote>
          <p>
            I had the pleasure of working with Kevin quite a few years ago and jumped at the chance for him to join the Butterware team in 2018. Kevin's work is of excellent quality; he produces really good code.
          </p>
          <br><br>
          <p>
            On top of that, he clearly understands the needs of our clients and takes time to improve the general quality of our workflow, taking the pain out of everyday tasks which we'd stuck with for so long we hadn't notice how shoddy they were!
          </p>
          <br>
          <p>
            &mdash; Graeme Simpson, CEO @ Butterware
          </p>
        </blockquote>

        <a href="/projects/butterware">Read more about it</a>
        </p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <a href="/projects/scalingo">
          <img src="/img/portfolio/scalingo/front.png" class="project-img">
        </a>

        <p class="project-content project-short">
          I worked with <a href="http://scalingo.com">Scalingo</a> and helped them ensuring their dashboard - made with <a href="/freelancer/ember-js">Ember.js</a> - was up to date and future-proof.
        </p>

        <blockquote>
          <p>
            We've worked with Kevin to speed up the deployment of our dashboard. He dived
            in our existing Ember.js codebase with ease and became efficient really quickly.
          </p>
          <br><br>
          <p>
            He also assisted us in upgrading the successive versions of the framework.
            It has been really convenient working with Kevin and we strongly recommend his skills.
          </p>
          <br><br>
          <p>
            &mdash; Léo Unbekandt, CTO @ Scalingo
          </p>
        </blockquote>

        <a href="/projects/scalingo">Read more about it</a>
        </p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <a href="/projects/deliver.ee">
          <img src="/img/portfolio/deliver.ee/front.png" class="project-img">
        </a>

        <p class="project-content project-short">
          I helped <a href="http://deliver.ee">deliver.ee</a> finish on time a few of their web applications - made with <a href="/freelancer/ember-js">Ember.js</a> and <a href="/freelancer/ruby-on-rails">Ruby on Rails</a>.
        </p>

        <blockquote>
          <p>
            I hired Kevin to help us finish our products on time.
            Kevin was able to adapt and integrate quickly and allowed us to make progress in an agile and efficient way.
          </p>
          <br><br>
          <p>
            With his help, we were able to meet our deadlines and satisfy our customers, it's very nice to work with him!
          </p>
          <br><br>
          <p>
            &mdash; Sébastien Poudat, CTO @ deliver.ee
          </p>
        </blockquote>

        <a href="/projects/deliver.ee">Read more about it</a>
        </p>
      </div>
    </div>
  </div>
</div>
