<div id="content-section" class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="modal-body">
        <h2 class="text-center">
          {{ page.pretty_title }}
        </h2>
        <hr class="star-primary">

        <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">

        <p>{{ content }}</p>

        <div class="text-center">
          <ul class="list-inline item-details">
            <li>
              Client:
              <strong>
                <a href="{{page.client_url}}">{{ page.client }}</a>
              </strong>
            </li>
            <li>
              Client:
              <strong>
                <a href="mailto:{{page.contact_email}}">{{ page.contact }}</a>
              </strong>
            </li>
            <li>
              Date:
              <strong>
                {{ page.project-date }}
              </strong>
            </li>
            <li>
              I helped with:
              <strong>
                {{ page.service }}
              </strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
