---
layout: default
title: "Home"
---
<section>
  <h3>Hi.</h3>
  <p>
    I'm Kevin. I do computer stuff, and regular stuff too.
    I'm gonna talk about those two kinds of stuff here.
  </p>
  <p>
    There won't be any comment systems here, because I think they encourage junk,
    but you can get in touch by mail (see <a href="/about">about</a>),
    or ping me on <a href="https://twitter.com/ksol">twitter</a>.
    Between those two, there should be enough room for constructive discussion.
  </p>
</section>
<hr />
<section>
  {% for post in site.posts reversed %}
    <h3 class="post-title">
      <a class="post-link" href="{{post.url}}">{{ post.title }}</a>
      {% if post.category == "ramblings" %}
        <small class="post-date">
          <a href="/{{post.category}}">{{post.category | capitalize }}</a> &mdash; {{ post.date | date_to_string }}
        </small>
      {% else %}
        <small class="post-date">
          <a href="/posts">
            {% if post.category %}
              {{post.category | capitalize }}
            {% elsif post.categories %}
              {{post.categories | array_to_sentence_string | capitalize }}
            {% endif %}
          </a> &mdash; {{ post.date | date_to_string }}
        </small>
      {% endif %}
    </h3>
  {% endfor %}
</section>
